<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div >
      <img class="img-fluid"  alt="Responsive image"  src="../../assets/img/dep.jpg">
    </div>
    <br>

    <!--Google map-->
    <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 400px">
      <iframe src="https://maps.google.com/maps?q=new%20delphi&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <a href=""><img class="footer_logo" src="../../assets/img/logo.png" alt="Burger" /></a>
                    <div class="col-lg-3 col-sm-4 col-xs-12 col-lg-offset-1 pull-right">
                        <div class="contact_us">    
                            <h4>Contactanos</h4>
                            <a href="">SportZone@sport.com</a>

                            <address>
                                Nos ubicamos en cordoba<br />
                                zona centro <br />
                               cerca de coppel <br />
                            </address>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12 pull-right">
                      <div class="basic_info">
                          <a href=""><img class="footer_logo" src="../../assets/img/logo.png" alt="" /></a>

                          
                          <div>
                         <i class="fab fa-facebook-f"></i>
                        </div>
                         <div>
                          <i class="fab fa-twitter"></i>
                        </div>
                        <div>
                          <i class="fab fa-dribbble"></i>
                        </div>
                      </div>

                          <div class="footer-copyright">

                              <p class="wow fadeInRight" data-wow-duration="1s">
                                  Tu mejor opción en deportes SPORT-ZONE.
                              </p>
                          </div>					
                      </div>
                  </div>
<div>
  
</div>
   

