<div >
    <img class="img-fluid"  alt="Responsive image"  src="assets/img/Portada.png">
 </div>
 <br>
<br>
<div class="d-flex">
    <mdb-card >
        <div>
            <img class="mx-auto d-block"  alt="Responsive image"  src="assets/img/mision.png">
         </div>
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h5 class="text-secondary">
            <mdb-icon fas icon="chart-line" ></mdb-icon>
          Misión
          </h5>
          <h3 class="card-title pt-2"><strong>Nuestra misión</strong></h3>
          <p>
            Fabricar y comercializar ropa deportiva a nivel nacional e internacional. 
            Y ofrecerles a nuestros clientes productos de alta calidad, para así cumplir con las necesidades
            de nuestros clientes ofreciéndoles mayor calidad y comodidad.
          </p>
        
        </div>
      </div>
    </mdb-card>
    <mdb-card>
        <div >
          <img class="mx-auto d-block" alt="Responsive image"  src="assets/img/vision.png">
       </div>
        <div class="text-white text-center d-flex align-items-center rgba-black-strong  py-5 px-4">
          <div>
            <h5 class="text-secondary">
              <mdb-icon fas icon="glasses"></mdb-icon>
            Vision
            </h5>
            <h3 class="card-title pt-2"><strong>Nuestra Visión</strong></h3>
            <p>
              Nuestra visión es poder llegar a ser una empresa reconocida
              a nivel nacional e internacional por nuestra calidad y buen servicio
              que ofrecemos a nuestros clientes.
            </p>
          </div>
        </div>
      </mdb-card>
    </div>